.root{
	-fx-background-color: #03A9F4;
	-fx-border-color: #ececed;
}

.menu{
	-fx-font-family: "Hancom Gothic";
	-fx-font-weight: bold;
	-fx-font-size: 25;
	-fx-background-color: transparent;
	-fx-text-fill: #FFF;
}
.menu:hover{
	-fx-background-color: #FFF;
	-fx-text-fill: #03A9F4;
}
.smenu{
	-fx-font-family: "Hancom Gothic";
	-fx-font-weight: bold;
	-fx-font-size: 14;
	-fx-background-color: #03A9F4;
	-fx-text-fill: #FFF;
}
.smenu:hover{
	-fx-background-color: #FFF;
	-fx-text-fill: #03A9F4;
}

.button{
	-fx-background-color: #FFF;
	-fx-font-family: "Hancom Gothic";
	-fx-font-weight: bold;
	-fx-font-size: 20.0;
	-fx-text-fill: #03A9F4;
	-fx-opacity: 1.0;
}
.button:hover {
	-fx-opacity: 0.9;
	-fx-cursor: hand;
}
.sbutton{
	-fx-background-color: #FFF;
	-fx-font-family: "Hancom Gothic";
	-fx-font-weight: bold;
	-fx-font-size: 12;
	-fx-text-fill: #03A9F4;
	-fx-opacity: 1.0;
}
.sbutton:hover{
	-fx-opacity: 0.9;
	-fx-cursor: hand;
}

.date-picker{
	-fx-font-family: "Hancom Gothic";
	-fx-background-color: #FFF;
}
.combo-box{
	-fx-font-family: "Hancom Gothic";
	-fx-background-color: #FFF;
}
.combo-box .list-cell:hover
{
	-fx-background-color: #03A9F4;
}
.text-field{
	-fx-font-family: "Hancom Gothic";
	-fx-background-color: #FFF;
	-fx-font-weight: bold;
}
.text-area{
	-fx-font-family: "Hancom Gothic";
	-fx-background-color: #FFF;
	-fx-font-size: 14;
}
.grid-pane{
	-fx-text-fill: #FFF;
}
#field {
	-fx-font-family: "Hancom Gothic";
    -fx-background-color: transparent;
    -fx-text-fill: #FFF;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-border-width: 0;
}
.label{
	-fx-font-family: "Hancom Gothic";
}
#title{
	-fx-text-fill: #FFF;	
	-fx-font-weight: bold;
	-fx-font-size: 30.0;	
}
#stitle{
	-fx-text-fill: #FFF;	
	-fx-font-weight: bold;
	-fx-font-size: 22.0;	
}
#text{
	-fx-text-fill: #FFF;	
	-fx-font-weight: bold;
	-fx-font-size: 16.0;	
}
#stext{
	-fx-font-family: "Hancom Gothic";
	-fx-text-fill: #FFF;	
	-fx-font-weight: bold;
	-fx-font-size: 12;	
}
#icon {
	-fx-opacity: 1.0;
}
#icon:hover {
	-fx-opacity: 0.9;
	-fx-cursor: hand;
}
#logo{
	-fx-font-weight: bold;
    -fx-font-size: 50;
}
#slogo{
	-fx-font-weight: bold;
    -fx-font-size: 11;
}